
<div class="container" ng-controller="loginCtrl">
    <div class="row colored">
        <div id="contentdiv" class="contcustom">
            <span class="fa fa-spinner bigicon"></span>
            <h2>Login</h2> <h1>{{message}}</h1>
            <div>
                <input id="username" type="text" placeholder="username" onkeypress="check_values();">
                <input id="password" type="password" placeholder="password" onkeypress="check_values();">
                <button id="button1" ng-click="fazerLogin()" class="btn btn-default wide hidden"><span class="fa fa-check med"></span> Fazer Login</button>
                <span id="lock1" class="fa fa-lock medhidden redborder"></span>
            </div>
        </div>
    </div>
</div>